* {
    margin:0px;
     padding:0px;
    background-color: #222222;
    color:white; 
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}


.container {
  
    text-align: center;
    word-wrap: break-word;
    border: 0.1rem solid black;
    width: 30%;
    margin-top: 5%;
    margin-left: 30%;
    
    padding: 3%;
    border-radius: 25px;
    box-shadow: 0.3rem 0.1rem 3rem 1rem   #000; 


}
.container div {
    margin: 2%;
    margin-top: 5%;
    padding: 2%;
   
}

.heading {
    font-size: 3rem;
    background-color: #dd3c3c;
    border-radius: 25px;
    margin-bottom: 50%;

    
}
textarea {
    resize: none;
  }

.preview {

    font-size: 1.2rem;
    text-align: justify;
    border: 0.2rem solid #000;
    border-radius: 25px;
    height: 20rem;
    overflow:hidden;

    

}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 2em;
    color: #80bcf5;
    /* background-color:  */
    display: inline-block;
    padding: 0.5em 0.5em;
    margin: 0%; 
    transition:  color,background-color 400ms;
    border-radius: 25px;

}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #1a74c9;
    color:#fff;
    cursor: pointer;
}

.encrypt {
    color:#f79090;
    transition:  color,background-color 400ms;
    border: 2px solid #f79090;



}
.decrypt {
    color: #aaffaa;
    transition:  color,background-color 400ms;
    border: 2px solid #aaffaa;




}
.encrypt:hover {
    background-color: #e23939;
    color:#fff;
    cursor: pointer;
    

}
.decrypt:hover {
    background-color: #41a541;
    color:#fff;
    cursor: pointer;
    
    

}

.buttons button {
    padding:3%;
    margin:10%;
    margin-top: 0%;
    font-size: 2rem;
    border-radius: 250px;
}

@media only screen and (max-width: 600px) {
    body {
        margin:0px;
        padding:0px;
    }
    .container {
  
        text-align: center;
        word-wrap: break-word;
        border: none;
        width: auto;
        height: 90%;

        margin: 4%;
        margin-top: 3rem;

        padding: none;
        box-shadow: 0.3rem 0.6rem 5rem 0.1rem   #000; 

    
    
    }
    .container div {
        margin: 6%;
        padding: 3%;
       
    }
  }

  